
<footer>
    <h3>Scholar</h3>
    <nav>
      <a href="#">About us</a>
      <a href="#">Contact us</a>
      <a href="#">Help and Support</a>
      <a href="#">Terms</a>
      <a href="#">Privacy policy</a>
      <a href="#">Sitemap</a>
    </nav>
    <p>&copy; 2023 Scholar Inc.</p>
  </footer>
<!-- <script src="/js/jquery-3.2.1.slim.min.js"></script> -->
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>