
<style>
  .course-details {
    display: none;
  }
  /* .dropdown-menu{
    display: block;
  } */
  .dropdown-menu{
    width: 70%;
    margin-left:12px;
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-hidden" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">Scholar.</a>

      <!-- Navbar Toggler -->
      <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
</button>

      
    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-left">
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/courses">Courses</a>
        </li>
       
        
      </ul>

   <!-- ... -->
<!-- Search Form -->
<div class="dropdown">

<form class="form-inline ml-3" action="/course/search" method="GET">

  <input class="form-control mr-sm-2" id="search-button"  autocomplete="off" name="search" type="search" placeholder="Course or Category" aria-label="Search">
  
  <div class="dropdown-menu" id="searchResults">

  </div> 
  <div id="searchResultsDropdown" class="dropdown-menu" aria-labelledby="searchInput"></div> 
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</ul>
<ul class="navbar-nav ml-auto nav-right">
<li class="nav-item">
  <a class="nav-link" href="/admin/settings">Settings</a>
</li>
<li class="nav-item signout">
  <a class="nav-link" href="/users/signout">Sign out</a>
</li>
</ul>


        
      </div>
    </div>
  </nav>
  <!-- <div class="dropdown">
    <form class="form-inline ml-3" action="/course/search" method="GET">
      <input class="form-control mr-sm-2" id="search-button" name="search" type="search" placeholder="Course or Category" aria-label="Search">
      <div class="dropdown-menu" id="searchResults">
        <a class="dropdown-item" href="#"/>Move</a>
        <ul style="color:black" id="suggestions-list"></ul>
      </div> 
      <div id="searchResultsDropdown" class="dropdown-menu" aria-labelledby="searchInput"></div> 
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
  <!-- <ul style="color:black" id="suggestions-list"></ul> -->
 
  <div class="nav-bar-space">

  </div>

