
  <!-- Navigation -->
  <div class="navbar">
    <div class="navbar-logo">Ai Tech</div>
    <ul>
      <li><a href="/admin/">Home</a></li>
      <li><a href="/admin/courses">Courses</a></li>
      <li><a href="/admin/settings">Settings</a></li>
      <li><a href="/users/signout">Sign Out</a></li> 
    </ul>
  </div>