
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Sign Up</h1>

  <% if (error) { %>
    <p class="error"><%= error %></p>
  <% } %>

  <form action="/users/signup" method="POST" id="signup-form">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" >
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" >
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" >
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" >
    </div>
    <div id="error"></div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
  </form>
  <%- include('partials/footer') %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#signup-form').submit(function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Clear previous error messages
        $('#error').empty();

        // Get form values
        var email = $('#email').val();
        var password = $('#password').val();
        var name = $('#name').val();
        var surname = $('#surname').val();

        // Perform validation
        var isValid = true;

        if (email.trim() === '') {
          $('#error').append('<p>Please enter your email.</p>');
          isValid = false;
        }

        if (password.trim() === '') {
          $('#error').append('<p>Please enter your password.</p>');
          isValid = false;
        }

        if (name.trim() === '') {
          $('#error').append('<p>Please enter your name.</p>');
          isValid = false;
        }

        if (surname.trim() === '') {
          $('#error').append('<p>Please enter your surname.</p>');
          isValid = false;
        }

        if (isValid) {
          // Submit the form if valid
          $('#signup-form').unbind('submit').submit();
        }
      });
    });
  </script>
</body>
</html>
