
@font-face {
  font-family: 'Elmond';
  src: url('/fonts/Elmond.ttf') format('truetype');
  /* Additional font formats can be added here for cross-browser compatibility */
}
:root {
  
  --primary-color: #003680;
  --base-color:#003680;
  /*--primary-color: #003680;*/
  --secondary-color: #ffffff;
  --background-color: #f0f0f0;
  --text-color: #ffffff;
  /* --text-color: #ffffff; */
  --text-inverse-color: #000000;
  --accent-color: #FF6347;
}
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
   
}

.container {
    margin: 0px;
    padding-right: 0px;
  }

.navbar {
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-bottom:100px;
    color: white;
  }

  .nav-bar-space{
    padding-bottom: 100px;
  }
  
  .navbar .navbar-brand {
    padding: 0px;
    color:  var(--text-color);
    position: relative;
    right:190px;
    font-weight: 700;
  }
  .navbar .nav-left{
    position: relative;
    right:120px;
  }
  .navbar .nav-right{
    position: relative;
    left:160px;
  }
  
  .navbar  .navbar-nav {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .navbar .signout{
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    border-radius: 10px;
  }
  .navbar .signout .nav-link{
    color: #000;
  }
  .navbar  ul li .sign{
    color: white;
  }
  
  .navbar ul li .nav-link{
    color: var(--text-color);
    font-size:14px;
  }
  
  
  .navbar .nav-link {
    padding: 5px 10px;
    color: gray;
    font-weight: 450;
  }
  
  .navbar  .nav-link:hover {
    color: black;
  }
  
  .navbar .form-inline {
    flex: 1;
    text-align: center;
  }
  
  .navbar  .form-control {
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background-color: rgb(248, 247, 247);
    width:160px;
  }
  .navbar #search-button{
    
    width:300px;
    font-size:11px;
    height:40px
  }
  .navbar .btn{
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    border-radius: 10px;
  }

  /*-------------------------Home page ---------------------------------------------*/

  .home-section-two{
    background: url("./");
    background-repeat: no-repeat;
    background-color: #cccccc;
  }


  .course-card .btn{
    background-color: white;
    border: 1px solid lightgray;
    
    border-radius: 10px;
  }
  .course-card .completed{
    color: gray;
    font-size: 13px;
    float: right;
  }
  
  .course-card .card-image{
    min-height: 310px;
    width:100%;
  }
  .navbar  .dropdown-menu {
    border: none;
  }
  
  .navbar  .dropdown-item {
    border-radius: 0;
  }
  
  .navbar  .dropdown-menu.search-dropdown {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
  }
  
  .dropdown-menu.signout-dropdown {
    background-color: lightgray;
    border-radius: 5px;
    border: none;

  }
  
  .dropdown-menu.signout-dropdown a {
    color: black;
  }
  
  .dropdown-menu.signout-dropdown a:hover {
    color: black;
  }

  .page-small-title{
    margin-left: 20px;
  }
  #error{
    color: red;
    text-align: center;
  }
  .user-courses-container .custom-file{
 
   
    
  }

  /* ------------------ footer ------------------------------*/
    /* Footer styles */
    footer {
      background-color: var(--primary-color);
      color: var(--text-color);
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid lightgray;
      margin-top: 40px;
    }

    /* Footer links styles */
    footer a {
      color:var(--text-color);;
      text-decoration: none;
      margin: 5px;
    }

    /* Copyright text styles */
    .copyright {
      margin-top: 20px;
    }

/* -------------------Course cards---------------------------*/
.filter-column .form-rounded {
  border-radius: 10px;
  }
.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap value as needed */
  }
  
  .course-card {
    border: 1px solid #dedddd;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  
  .course-card img {
    width: 100%;
    height: auto;
    min-height: 180px;
    border-radius: 10px 10px 0 0;
    position: relative;
    bottom: 15px;
  }
  
  .course-card h2 {
    margin-top: 0;
  }
  
  .course-card p.small {
    color: #999;
    margin-bottom: 5px;
  }
  
  .course-card .rating i {
    color: #f7d71e;
    margin-right: 3px;
  }
  .course-card .time{
    color: gray;
    float: right;
  }
  .course-card .card-bottom{
    padding-top: 20px;
  }
  .course-card .text-secondary{
    text-transform: uppercase; 
    font-weight: 600;
  }
  .course-container .course-description{
    padding-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  }
  

  

/* ======================== Course view---------------------------*/
.course-details-container {
  display: flex;
  padding: 0 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.course-details-container .course-details-view {
  flex: 2;
  padding:0 80px;

}

.course-details-container .course-details-breakdown{
  padding: 0 110px;
}

.course-details-container .course-image {
  text-align: center;
  margin-bottom: 20px;
  
}
.course-details h3{
  font-size: 20px;
  width: 50%;
  font-weight: 550;
}  

.course-details-container .course-image img {
  width: 80%;
  border-radius: 30px;
}

.course-details-container .rating {
  text-align: right;
  margin-top: -70px;
  color: gold;
  margin-right: 100px;
}

.course-details-container .reviews {
  text-align: right;
  color: #777;
  margin-right: 90px;
  position: relative;
  bottom: 30px;
  color: white;
}

.course-details-container .instructor {
  margin-top: 10px;

  color: #777;
}

.desc {
  margin-top: 10px;
  width: 80%;
  color: #777;

}
 .path{
  margin-left: 150px;

}

.course-details-container .course-title {
 font-weight: 700px;
  margin-top: 20px;
  font-size: 45px;
}

.course-details-container .course-description {
  color: #777;
  margin-top: 10px;
}

.course-details-container .course-breakdown {
  flex: 1;
  padding: 40px;
}

.course-details-container .path {
  margin-left: 90px;
}
.course-details-container .small-heading{
  color: #777;
  text-transform: uppercase;
}

.course-details-container .course-section2 {
  font-size: 12px;
}

.course-details-container .course-icon {
  width: 30px;
  text-align: center;
}

.course-details-container .course-detail {
  margin-left: 10px;
}

.course-details-container .course-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}



.course-details-container .enroll-btn,
.course-details-container .gift-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}


.trans-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  background-color:transparent;
}
.trans-btn-sm{
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  background-color:transparent;
}

.course-details-container .enroll-btn {
  background-color: black;
}

.course-details-container .gift-btn {
  background-color: transparent;
  border: 1px solid black;
}

.course-details-container .course-section h3 {
  margin-bottom: 10px;
}


/*====================user courses =================================*/
.custom-jumbotron {
  background-color: #e9ecef;
  border-radius: 20px;
  padding: 40px;
  
}
.custom-jumbotron-small{
  background-color: #e9ecef;
  border-radius: 20px;
  padding:  20px 40px;
}
.custom-jumbotron-small .lead{
  font-weight: 500;
}
.two-line-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  
  max-width: 500px;
  overflow: hidden;
  line-height: 1.5; /* Adjust this value as needed to control line spacing */
  max-height: 3em; /* Adjust this value as needed to control the number of lines displayed */
}

.custom-jumbotron .container .lead{
  display:inline-block;
  color: #676666;
  font-size: 16px;
}
.custom-jumbotron .custom-jumbotron-image{
  max-width: 140%;
  height: auto;
  /* Use inline-block instead of float */
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.user-courses-container {
  display: flex;
  padding: 50px 100px;
 height: 70vh;
}

.user-column {
  flex: 3;
 
  padding: 0px 50px;
}

.stats-column {
  flex: 1;
  padding: 0px 50px;
}

.dash-container {
  display: flex;
  
  padding: 50px 60px 100px  80px;
 
}
.dash-column {
  flex: 7;
 
  padding: 0px 30px;
}
.filter-column {
  flex: 2;
  padding: 0px 0px 0px;

}

/* Media Query for Smaller Screens */


.user-welcome {
  padding-bottom: 20px;
}

.user-welcome h2 {
  font-size: 24px;
}

.course-list {
  margin-bottom: 20px;
}

.course {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.course h3 {
  margin-top: 0;
}

.course .instructor {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.course .course-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.space-border {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.course .course-details i {
  margin-right: 5px;
}

.course .view-course-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.view-course-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}


.stats {
  display: flex;
  flex-direction: column;
}

.stats-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stats-item i {
  margin-right: 10px;
  margin-bottom: 10px;
}


/*============================login==================================*/
.login-container {
  position: relative;
  height: 100vh;
  background-color: #41A0F9;
}
.login-container img{
  z-index: 1000;
}
.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
}

.login-container::before {
  left: 0;
  width: 30%;
  background-color: #fff;
}

.login-container::after {
  left: 30%;
  width: 20%;
  background-color: #F5C954;
}

.login-container::before + .login-container::after {
  left: 50%;
  width: 50%;
  background-color: #41A0F9;
}

.login-img{
  z-index: 1000;
}

.login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.login-area h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.login-area p {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background-color: #41A0F9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.signup-link {
  margin-top: 10px;
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/images/login2.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.bg-primary {
  background: #e3b04b !important; }

.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.74); }

.img, .login-wrap {
  width: 50%; }
 


.brand-wrapper {
  margin-bottom: 19px; }
  .brand-wrapper .logo {
    height: 37px; }

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }
  .login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .login-card .card-body {
    padding: 85px 60px 60px; }
    @media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px; } }
  .login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px; }
  .login-card form {
    max-width: 326px; }
  .login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; }
    .login-card .form-control::-webkit-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-moz-placeholder {
      color: #919aa3; }
    .login-card .form-control:-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::-ms-input-placeholder {
      color: #919aa3; }
    .login-card .form-control::placeholder {
      color: #919aa3; }
  .login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; }
    .login-card .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000; }
  .login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px; }
  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; }
 
  .login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3; }

/* new login */
.auth-section {
  position: relative;
  min-height: 100vh;
  background:#003680;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.auth-section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-y: visible;
}
.auth-section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.auth-section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: rgb(255, 255, 255);
  transition: 0.5s;
}
.auth-section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth-section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
 
}
.auth-section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}
.auth-section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.auth-section .container .user .formBx form input[type="submit"] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
.auth-section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
 color: #00000;
  text-transform: uppercase;
  font-weight: 300;
}
.auth-section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #00000;
}
.auth-section .container .signupBx {
  pointer-events: none;
}
.auth-section .active .signupBx {
  pointer-events: initial;
}

.auth-section .container .signupBx .formBx {
  left: 100%;
}
.auth-section .active .signupBx .formBx {
  left: 0;
}
.auth-section .container .signupBx .imgBx {
  left: -100%;
}
.auth-section .active .signupBx .imgBx {
  left: 0;
}

.auth-section .container .signinBx .formBx {
  left: 0;
}
.auth-section .active .signinBx .formBx {
  left: 100%;
}
.auth-section .container .signinBx .imgBx {
  left: 0;
}
.auth-section .active .signinBx .imgBx {
  left: -100%;
}


/*======================= Edit course ========================*/
#edit-image{
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*======================= create course ========================*/
.align-on-form{
  margin-left: 20px;
}

/*===================== Course Outline =======================*/
.courseOutline-column{
  flex: 2 2 58%;
}
.smaller-screens-outline{
  display: none;
 
}
#video {
  height: 550px;
  width: 100%;
}
#video-vimeo{
  height: 650px;
  width: 100%;
}
/*===================== Test quiz =======================*/
#question-text{
  color: gray;
  font-size: 12px;
}
#test-question{
  font-weight: 600;
  font-size: 20px;
}
.test-text-container {
  display: flex;
  
  width: 100%;
  position: relative; /* Add relative positioning to the parent container */
}

.test-text-container .trans-btn-sm {
  position: absolute; /* Change to absolute positioning */
  left: 85%; /* Set the initial position to the center of the parent */
  transform: translateX(90%); /* Move the button 90% to the right */
  bottom: 10px;
}
.test-column #error{
  margin-top: 20px;
}

/*======================================== Create Quiz ====================================*/
.entityContainer{
  width: 100%;
}
.entityRow{
  width: 100%;
}
.error-message{
  color: red;
}
 /*----------------------------------------------------------*/
.blank-star{
  color: rgb(229, 229, 229);
}




/*===============Media queries ================================*/

@media (max-width: 1483px) {
  .course-details .view-course-btn {
  
    font-size: 12px;
    padding: 10px;

  }
  .course-details .course-rating .fa-star{
    font-size: 12px;
  }
  .course-details h3{

    width: 40%;
  }

  .course-card .card-image{
    min-height: 210px;

  }
}

@media (max-width: 1175px) {
  .course-details .trans-btn{
    font-size: 10px;
    padding: 10px;
    border-radius: 13px;
  }
  .course-details h3{
    font-size: 12px;
    width: 30%;
  }
  .test-text-container .trans-btn-sm {
  
    left: 80%; /* Set the initial position to the center of the parent */
    transform: translateX(90%); /* Move the button 90% to the right */
  }    
  .course-card .card-image{
    min-height: 200px;
    
  }
}

@media (max-width: 991px) {
  .auth-section .container {
    max-width: 400px;
  }
  .auth-section .container .imgBx {
    display: none;
  }
  .auth-section .container .user .formBx {
    width: 100%;
  }
  .img, .login-wrap {
    width: 100%; } 
    .course-container {
      grid-template-columns: repeat(2, 1fr);
    }  

    /*---------user courses --------------*/
    .user-column {
     
  
      padding: 0px 10px;
    }
    .user-column .view-course-btn {
      font-size: 12px;
      padding: 10px;
      
      border-radius: 10px;
    }
    
    .course-details h3{
      font-size: 12px;
   
    }
    .course-progress span{
      font-size: 12px;
    }
    .course-progress .fa-check-circle {
      font-size: 12px; /* You can adjust this value as needed */
    }

    .course-rating .fa-star , .fa-star-half , span{
      font-size: 12px;
    }
    .course .instructor{
      font-size: 12px;
      
    }
    .test-text-container .trans-btn-sm {
      position: absolute; /* Change to absolute positioning */
      left: 75%; /* Set the initial position to the center of the parent */
      transform: translateX(90%); /* Move the button 90% to the right */
    } 
    
    /*--------------preview -------------------------*/
    .course-details-container .course-details-view {
      
      padding:0 0px;
 
    }
}

@media (max-width: 821px) {
  .test-text-container .trans-btn-sm {
    left: 65%; /* Set the initial position to the center of the parent */
    transform: translateX(90%); /* Move the button 90% to the right */
  } 
}


/* Media Query for Smaller Screens */
@media (max-width: 767px) {
  .dash-container {
    flex-direction: column; /* Set the flex-direction to column for smaller screens */
    padding: 30px; /* Reduce padding on smaller screens */
    
  }

  .dash-column {
    flex: 1; /* Take full width on smaller screens */
    padding: 0; /* Remove padding on smaller screens */

  }

  .filter-column {
    display: none;
    flex: 1; /* Take full width on smaller screens */
    padding: 0; /* Remove padding on smaller screens */
  }

  .course-card {
    
    padding: 10px;
    
  }

  .user-courses-container{
    flex-direction: column;
    padding: 0px 50px;
  }


  .user-column {
    flex: 1;
 
    padding: 0px 10px;
  }
  .user-column .view-course-btn {
    font-size: 12px;
    padding: 10px;

    border-radius: 10px;
  }
  .course-details h3{

    font-size: 12px;
  }
  .course-progress span{
    font-size: 12px;
  }
  .course-progress .fa-check-circle {
    font-size: 12px; /* You can adjust this value as needed */
  }
  

  .course-rating .fa-star , .fa-star-half , span{
    font-size: 12px;
  }
  .course .instructor{
    font-size: 12px;
    
  }
  .stats-column {
    flex: 1;
    padding: 0px 50px;
  }

  .login-card-footer-text {
    margin-bottom: 24px; } 

  .course-details .trans-btn{
    font-size: 12px;
    padding: 10px;
    border-radius: 13px;
  } 
  .container-out{
    display: flex;
    flex-wrap: wrap;
  }

  .courseOutline-column {
    /* Flex properties to fill the entire row on smaller screens */
    flex: 1 1 100%;
  }
  .smaller-screens-outline{
    display: block;
    
  }
  .outline-progress{
    display: none;
  }

  /*-----------------------view course -----------------------*/
  .course-details-container {
    flex-direction: column;
    padding: 0 0px;
  }

  .course-details-container .course-breakdown {
   text-align: center;
  }
  .course-section {
    display: flex;
    align-items: center; /* Center the items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
    margin-bottom: 10px; /* Optional: Add margin to separate each course-section */
  }
  
  .course-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course-details-breakdown .course-title{
    font-size: 40px;
  }

}



@media (max-width: 576px) {

  /*-----course views --------*/
  .course-container {
    grid-template-columns: 1fr;
  }
  .course-progress .fa-check-circle{
    display: none;
  }
  .course-progress #completed{
    display: none ;
  }
  .user-courses-container{
    position: relative;
    bottom: 50px;
    padding: 0px 20px;
  }
  .path{
    font-size: 12px;
    position: relative;
    bottom: 50px;
    right: 70px;
    margin-top: 40px;

  }

  .course-card .card-image{
    min-height: 100px;
    width: 460px;
  }
  .course-card {
  
    padding: 10px;
  
  }
  .user-column .course-list .course .course-details {
    flex-direction: column;
  
  
  }
  .user-column .course-list .course .course-details img{
    width: 70%;
  }

  .user-column .course-list .course .course-detail{
   
  }
  /*------------Courses / created -------------*/

  
  .course-details .trans-btn-sm{
    font-size: 12px;
  }
  .course-details img{
    width: 50px;
  }

  .desc{
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
  }
  .smaller-screen-space{
    position: relative;
    top: 10px;
  }

  .custom-jumbotron .custom-jumbotron-image{
    max-width: 190%;



    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .course-card .card-image{
    min-height: 260px;
    width: 100%;

  }
  .course-card {
  
    padding: 10px;
  }
  .course-details .trans-btn-sm{
   padding: 3px; 
   font-weight: bold;
  }
  .course-details .view-course-btn {
  
    font-size: 12px;
    margin: 2px;
    font-size: 12px;
    position: relative;
    top: 0px;
    font-weight: bold;
    border-radius: 10px;
  }
  .course-details .course-progress{
    position: relative;
    bottom:5px;
  }
  .course-rating span{
    position: relative;
    bottom:5px;
  }
  .custom-jumbotron .fa-user , .custom-jumbotron .display-5{
    font-size: 15px;
  }
  .custom-jumbotron .container .lead{
    font-size: 12px;
  }

  .stats-column .display-9{
    font-size: 20px;
  }
  .stats-column .stats{
    font-size: 13px;
  }

  .custom-jumbotron .custom-jumbotron-image{
    max-width: 250%;



    border-radius: 10px;
  }

  .test-text-container .trans-btn-sm {
    left: 65%; /* Set the initial position to the center of the parent */
    transform: translateX(90%); /* Move the button 90% to the right */
  }  

  .course-details h3{
    text-align: center;
    width: 70%;
  
  }

  /*------------course view ---------------*/
  .course-details-breakdown .course-title{
    font-size: 20px;
  }
  
  .course-details-container .course-details-breakdown{
    padding: 0 60px;
  }
  
}

@media (max-width:377px) {
  .course-rating span {
    display: none;
  }

  .custom-jumbotron .custom-jumbotron-image{
    max-width: 350%;
    right: 10px;


    border-radius: 10px;
  }

  .test-text-container .trans-btn-sm {
    left: 55%; /* Set the initial position to the center of the parent */
    transform: translateX(90%); /* Move the button 90% to the right */
  } 
}  




/* 
.navbar-logo {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.navbar ul li {
    margin-left: 20px;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:last-child {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 3px;
}

.navbar ul li:last-child a {
    color: rgb(0, 0, 0);
    text-decoration: none;
} */
.errors{
    color: red;
}