
@font-face {
  font-family: 'Elmond';
  src: url('/fonts/AlexBrush-Regular.ttf') format('truetype');
  /* Additional font formats can be added here for cross-browser compatibility */
}

:root {
  
  --primary-color: #003680;
  --base-color:#003680;
  /*--primary-color: #003680;*/
  --secondary-color: #ffffff;
  --background-color: #f0f0f0;
  --text-color: #ffffff;
  /* --text-color: #ffffff; */
  --text-inverse-color: #000000;
  --accent-color: #FF6347;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

body {
  height: 100vh;
  background: #ffffff;

}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -1px;
  text-align: center;


  color: #fff;
  margin: 0;
}
.hero {
  background: url('/images/darkman.jpg') no-repeat center center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;

  display: flex;
  height: 785px;
  width: 100%;
}
.hero p {
  text-align: center; width: 40%;
}
.hero-logo{
  font-size: 50px;  
  font-family: Elmond;
}

.down {
  text-align: center;
  position: absolute;
  opacity: 0.6;
  height: 40px;
  width: 100%;
  bottom: 190px;
  
}

.content {
  box-shadow: 0 0 100px rgba(0,0,0,0.4);
  color: black;

  position: relative;
 
  
  
  top: 100vh;
  max-height: 800px;
 
}


/* Style for the black footer */
.black-footer {
  /* background-color: #000; */
    background-color: #003680;
  color: #fff;
  padding: 20px 0;
  position: relative;
  top:0px;
}


/* Style for the footer list */
footer {
  background-color: #003680;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid lightgray;
}

/* Footer links styles */


/* Footer links styles */
footer a {
  color: rgb(199, 214, 66);
  text-decoration: none;
  margin: 5px;
}

/* Copyright text styles */
.copyright {
  margin-top: 20px;
}

.footer-list {
list-style: none;
padding: 0;
margin: 0;
}

.footer-list li {
margin-bottom: 10px;
}
.navbar{
/* background-color: #494dbe; */
 background-color: #003680;
color: white;

}
/* Center the brand logo and search form */
.navbar-brand,
/* Center the brand logo and search form */
.navbar-brand,
.form-inline {
display: flex;
justify-content: center;
position: relative;
left: 200px;
color: white;

}
.navbar-dark .navbar-toggler {
  color:rgb(199, 214, 66)!important;
  border-color: rgb(199, 214, 66)!important;
}
.navbar-dark .navbar-toggler-icon {
  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28199, 214, 66, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
 
}

.navbar-dark .navbar-toggler{
  border-color: rgb(199, 214, 66);
}

/* Add some space between the search form and other elements */
.form-inline {
margin-left: 20px;
}
.navbar .navbar-brand{
position: relative;
left: 0%;
color: white;

}
.navbar .nav-item .nav-link{
color: rgb(199, 214, 66);
}
.navbar-dark  .nav-item .nav-link {
  color: rgb(199, 214, 66)!important;
}
.navbar .nav-item .nav-link-btn{
  color: rgb(199, 214, 66);
  }
.navbar .btn-custom{
border: 1px solid rgb(255, 255, 255);
border-radius: 5px;

}
.navbar .btn-outline-success{
color: white;
border:1px solid   white;
}

.navbar  .dropdown-menu {
  width: 100%;
  margin-right: 80px;
  margin-left: 0px;
  
}

.navbar  .dropdown-item {
  border-radius: 0;
}
.navbar-nav{
  margin-top: 5px;
  text-align: center;
}

/* Increase the width of the input text */
.form-inline input[type="search"] {
width: 400px; /* Adjust the width as needed */
}
.home-more{
padding: 40px;
}

.home-section-two{

background-color: #0a051a;
height:100vh;
position: relative;
bottom: 0px;
padding: 20px 0px;
transition: background-color 1.3s ease-in; 
}
.inner-container{

padding:  20px;
}
.inner-container h1{

color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 800;
margin-top: 70px;
}
.inner-container .light-font{
font-weight: 200;
}
.inner-container p{
padding:20px 240px;
color: rgb(173, 173, 173);
font-size: 20px;
width: 100%;
text-align: center;

}

.signup-section {
  width: 70%;
  z-index: 10;
  background-color: #f0991e;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 240px;
  margin-top: 120px;
 

}

.signup-section .sign-header {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 20px;
}

.signup-section .description {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

 .button {
  background-color: transparent;

  color: #0a0a0a;
  border: 1px solid #000000;
  padding: 12px 20px;

  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  right: 60px;
}
.black-reverse {
 background-color: transparent;
  color: #f9f9f9;
  padding: 9px 20px;
  border: none;
  font-weight: 700;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  position: relative;

}
.sign-container{
  margin: 0;
  margin-top: 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}
#black-strip-section{

  height: 200px;
  background-color: black;
  padding-top: 30px;
}
#black-strip-section h3{
  color: white;
  font-weight: 600;
  font-size: 50px;
  
}
#black-strip-section p{
  color: white;

  
}

.content .course-section{
  margin-top: 100px;
  background-color: rgb(244, 244, 244);
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}
#view-more{ 
  text-align: center;

}
.courses-container .button{
  margin-top: 40px;
  margin-left: 100px;
 
}
.course-container .button{
  margin-top: 40px;
  margin-left: 100px;
 
}

.bounce {
animation: bounce 1.5s infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Adjust the bounce height as needed */
  }
}
.middle{
  background-color: rgb(0, 0, 0);
  height: 300px;
 
   overflow: hidden;
   z-index: 2;
}
.middle img{
  width: 110%;
  position: relative;
  bottom: 150px;
  z-index: 2;
}



    .category-list li {
        cursor: pointer;
      }
      
      .course-item {
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
      }
      .hero-section {
        position: relative;
        height: 400px;
        color: #fff;
        overflow: hidden; /* Ensure the image doesn't overflow the hero section */
      }
      
      .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-image: url('/images/darkman.jpg'); /* Replace with the actual image path */
        background-size: cover;
        background-position: center;
        z-index: 2; /* Send the image to the back */
      }
      
      .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
      }
      
      .white-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #fff;
        z-index: 1; /* Ensure the white container appears above the hero content */
      }
      .categories-section{
        margin-top: 100px;
      }

      .center-content {
        display: flex;
        justify-content: center;
      }
      
    .course-details {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;
      }
      .course-details i {
        margin-right: 5px;
      }     
 .course-details-view {
    flex: 2;
    padding:0 80px;
  
  }
  
 
 .course-details-container .course-details-breakdown{
    padding: 0 110px;
  }
  
   .course-image {
    text-align: center;
    margin-bottom: 20px;
    
  }
  .course-details h3{
    font-size: 20px;
    width: 50%;
    font-weight: 550;
  }
  .courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap value as needed */
  }
  .course-card {
    border: 1px solid #dedddd;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  
  .course-card img {
    width: 100%;
    height: auto;
    min-height: 180px;
    border-radius: 10px 10px 0 0;
    position: relative;
    bottom: 15px;
  }
  
  .course-card h2 {
    margin-top: 0;
  }
  
  .course-card p.small {
    color: #999;
    margin-bottom: 5px;
  }
  
  .course-card .rating i {
    color: #f7d71e;
    margin-right: 3px;
  }
  .course-card .time{
    color: gray;
    float: right;
  }
  .course-card .card-bottom{
    padding-top: 20px;
  }
  .course-card .text-secondary{
    text-transform: uppercase; 
    font-weight: 600;
  }

  
/* ======================== Course view---------------------------*/
.course-details-container {
  display: flex;
  padding: 0 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-margin{
  margin-top: 100px;
  margin-bottom: 100px;
}

.course-details-container .course-details-view {
  flex: 2;
  padding:0 80px;

}

.course-details-container .course-details-breakdown{
  padding: 0 110px;
}

.course-details-container .course-image {
  text-align: center;
  margin-bottom: 20px;
  
}
.course-details h3{
  font-size: 20px;
  width: 50%;
  font-weight: 550;
}  

.course-details-container .course-image img {
  width: 80%;
  border-radius: 30px;
}

.course-details-container .rating {
  text-align: right;
  margin-top: -70px;
  color: gold;
  margin-right: 100px;
}

.course-details-container .reviews {
  text-align: right;
  color: #777;
  margin-right: 90px;
  position: relative;
  bottom: 30px;
  color: white;
}

.course-details-container .instructor {
  margin-top: 10px;

  color: #777;
}

.desc {
  margin-top: 10px;
  width: 80%;
  color: #777;

}
 .path{
  margin-left: 150px;

}

.course-details-container .course-title {
 font-weight: 700px;
  margin-top: 20px;
  font-size: 45px;
}

.course-details-container .course-description {
  color: #777;
  margin-top: 10px;
}

.course-details-container .course-breakdown {
  flex: 1;
  padding: 40px;
}

.course-details-container .path {
  margin-left: 90px;
}
.course-details-container .small-heading{
  color: #777;
  text-transform: uppercase;
}

.course-details-container .course-section2 {
  font-size: 12px;
}

.course-details-container .course-icon {
  width: 30px;
  text-align: center;
}

.course-details-container .course-detail {
  margin-left: 10px;
}

.course-details-container .course-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}



.course-details-container .enroll-btn,
.course-details-container .gift-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}


.trans-btn {
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  background-color:transparent;
}
.trans-btn-sm{
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  background-color:transparent;
}

.course-details-container .enroll-btn {
  background-color: black;
}

.course-details-container .gift-btn {
  background-color: transparent;
  border: 1px solid black;
}

.course-details-container .course-section h3 {
  margin-bottom: 10px;
}

.courses-container .course-description{
  padding-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
text-overflow: ellipsis;
}
.course-container .course-description{
  padding-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
text-overflow: ellipsis;
}

.course-list{
  margin-top: 100px;
  margin-bottom: 100px;
  
}


.dash-container {
  display: flex;
  
  padding: 50px 60px 100px  80px;
 
}
.dash-column {
  flex: 7;
 
  padding: 0px 30px;
}
.filter-column {
  flex: 2;
  padding: 0px 0px 0px;

}

.space-above{
  margin-top: 100px;
}


@media (max-width: 1200px) {
  .navbar .nav-item .link-text{
      
      position: relative;
      left: 30px;
    }
    .navbar .btn-custom{
      position: relative;
      left: 30px;
      
      }

      .navbar-brand,
      .form-inline {
      display: flex;
      justify-content: center;
      position: relative;
      left: 50px;
      color: white;

      }

      /* Add some space between the search form and other elements */
      .form-inline {
      margin-left: 20px;
      }

      .navbar .navbar-brand{
      position: relative;
      left: 0%;
      color: white;
      }

      .navbar .navbar-brand{
        position: relative;
        left: -5%;
        right: 0%;
        
        }
}
@media (max-width: 992px) {
  .navbar .btn-custom{
    border: none;

    
    }
    
  /* .navbar .btn-outline-success{
  color: white;
  border:1px solid   white;
  }
    */
  /* Increase the width of the input text */
  .form-inline input[type="search"] {
  width: 200px; /* Adjust the width as needed */
  }
  .navbar  .dropdown-menu {
    width: 39.5%;
    margin-right: 0px;
    margin-left: 30.3%;
    
  }
    /*--------------preview -------------------------*/
    .course-details-container .course-details-view {
      
      padding:0 0px;
 
    }    
}

@media (max-width: 821px) {

  .hero {
    height: 600px;
  }

  .content {
    top: 60vh;
    max-height: 800px;
   
  }

  .inner-container h1{

  
    font-size: 50px;
    font-weight: 800;
    margin-top: 70px;
    }

    .inner-container .light-font{
    font-weight: 200;
    }
    .inner-container p{
    padding:20px 90px;
    color: rgb(173, 173, 173);
    font-size: 20px;
    width: 100%;
    text-align: center;
    
    }



    .signup-section {

      height: 180px;
      margin-top: 120px;
     
    
    }
    
    .signup-section .sign-header {

      font-size: 25px;
   
      top: 20px;
    }
    
    .signup-section .description {
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
    }

  .test-text-container .trans-btn-sm {
    left: 65%; /* Set the initial position to the center of the parent */
    transform: translateX(90%); /* Move the button 90% to the right */
  } 
}


/* Media Query for Smaller Screens */
@media (max-width: 767px) {
  .navbar  .dropdown-menu {
    width: 52.5%;
    margin-right: 0px;
    margin-left: 24%;
    
  }
  .dash-container {
    flex-direction: column; /* Set the flex-direction to column for smaller screens */
    padding: 30px; /* Reduce padding on smaller screens */
    
  }

  .dash-column {
    flex: 1; /
    padding: 0; 

  }

  .filter-column {
    display: none;
    flex: 1; /* Take full width on smaller screens */
    padding: 0; /* Remove padding on smaller screens */
  }

  .course-card {
    
    padding: 10px;
    
  }

  .user-courses-container{
    flex-direction: column;
    padding: 0px 50px;
  }
  .user-course-container{
    flex-direction: column;
    padding: 0px 50px;
  }


  .user-column {
    flex: 1;
 
    padding: 0px 10px;
  }
  .user-column .view-course-btn {
    font-size: 12px;
    padding: 10px;

    border-radius: 10px;
  }
  .course-details h3{

    font-size: 12px;
  }
  .inner-container .light-font{
      font-size: 50px;
    }
  .course-progress span{
    font-size: 12px;
  }
  .course-progress .fa-check-circle {
    font-size: 12px; /* You can adjust this value as needed */
  }
  

  .course-rating .fa-star , .fa-star-half , span{
    font-size: 12px;
  }
  .course .instructor{
    font-size: 12px;
    
  }
  .stats-column {
    flex: 1;
    padding: 0px 50px;
  }

  .login-card-footer-text {
    margin-bottom: 24px; } 

  .course-details .trans-btn{
    font-size: 12px;
    padding: 10px;
    border-radius: 13px;
  } 
  .container-out{
    display: flex;
    flex-wrap: wrap;
  }

  .courseOutline-column {
    /* Flex properties to fill the entire row on smaller screens */
    flex: 1 1 100%;
  }
  .smaller-screens-outline{
    display: block;
    
  }
  .outline-progress{
    display: none;
  }

  /*-----------------------view course -----------------------*/
  .course-details-container {
    flex-direction: column;
    padding: 0 0px;

  }

  .course-details-container .course-breakdown {
   text-align: center;
  }
  .course-section {
    display: flex;
    align-items: center; /* Center the items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
    margin-bottom: 10px; /* Optional: Add margin to separate each course-section */
  }
  
  .course-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course-details-breakdown .course-title{
    font-size: 40px;
  }

  .button {
 
  
 

    padding: 7px 10px;
  
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    right: 60px;
  }

  footer {
    background-color: #003680;
    color: white;
    position: relative;
    bottom: 10px;
    border-top: 1px solid lightgray;

   
  }

}


@media (max-width: 625px) {
  
  /* ----nav bar ---------*/
  .navbar .navbar-brand{
    left: 10%;
    }
    .navbar-dark .navbar-toggler {
      position: relative;
      right: 10%;
    } 
  .signup-section {
    flex-direction: column;
    text-align: center;
    height: 180px;
    margin-top: 30px;
  }
  
  .signup-section .sign-header {

    font-size: 25px;
 
    top: 20px;
  }
  
  .signup-section .description {
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
  }

  
  .signup-section .button {
    /* Use margin to center the button horizontally */
    margin: 0 0px;
    position: relative;
    left: 1%;
  }
   footer {
      background-color: #003680;
      color: white;
      position: relative;
      bottom: 10px;
      border-top: 1px solid lightgray;
  
     
    }

}


@media (max-width: 576px) {

  /* ----nav bar ---------*/  
  .navbar  .dropdown-menu {
    width: 52.5%;
    margin-right: 0px;
    margin-left: 15%;
  }
  
  .form-inline input[type="search"] {
    position: relative;
    right: 10%;
    }
    .form-inline button{
      width: 13%;
      font-size: 12px;
      position: relative;
    right: 8%;
    }

  .inner-container h1{

  
    font-size: 30px;

    margin-top: 40px;
    }

    .inner-container .light-font{
      font-size: 30px;
    }
    .inner-container p{
    padding:20px 50px;

    font-size: 20px;
 
    
    }

    .signup-section {
   
      height: 180px;
      margin-top: 40px;
    }

    #black-strip-section{

      height: 200px;
      background-color: black;
      padding-top: 0px;
    }
    #black-strip-section h3{
      color: white;
      font-weight: 600;
      font-size: 30px;
      
    }

    .home-section-two{

  
      height:80vh;
      position: relative;
      bottom: 0px;
      padding: 20px 0px;
  
      }
  

  /*-----course views --------*/
  .courses-container {
    grid-template-columns: 1fr;
    background-color: ;
  }
  .course-container {
    grid-template-columns: 1fr;
  }
  .course-progress .fa-check-circle{
    display: none;
  }
  .course-progress #completed{
    display: none ;
  }
  .user-courses-container{
    position: relative;
    bottom: 50px;
    padding: 0px 20px;
  }
  .user-course-container{
    position: relative;
    bottom: 50px;
    padding: 0px 20px;
  }
  .path{
    font-size: 12px;
    position: relative;
    bottom: 50px;
    right: 70px;
    margin-top: 40px;

  }

  .course-card .card-image{
    min-height: 100px;
    width: 460px;
  }
  .course-card {
  
    padding: 10px;
  
  }
  .user-column .course-list .course .course-details {
    flex-direction: column;
  
  
  }
  .user-column .course-list .course .course-details img{
    width: 70%;
  }

  .user-column .course-list .course .course-detail{
   
  }
  /*------------Courses / created -------------*/

  
  .course-details .trans-btn-sm{
    font-size: 12px;
  }
  .course-details img{
    width: 50px;
  }

  .desc{
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
  }
  .smaller-screen-space{
    position: relative;
    top: 10px;
  }

  .custom-jumbotron .custom-jumbotron-image{
    max-width: 190%;



    border-radius: 10px;
  }
}


@media (max-width: 415px) {
    /* ----nav bar ---------*/
    .navbar  .dropdown-menu {
      width: 68%;
      margin-right: 0px;
      margin-left: 7.5%;
    }
    .navbar-nav{
      position: relative;
      right: 10%;
      text-align: center;
    }
    .form-inline input[type="search"] {
    
      }
      .form-inline button{
        width: 16%;
        height: 40px;
        font-size: 12px;
     
      }
  .hero p {
    text-align: center; 
    width: 80%;
    font-size: 12px;
    margin-bottom: 80px;
  }
  .hero-logo{
    font-size: 40px;  
    
  }
  .inner-container p{
    padding:20px 5px;
    font-size: 15px;
    }

    .home-section-two{
      height:50vh;
      position: relative;
      bottom: 0px;
      padding: 20px 0px;
  
      }
       .signup-section {
      padding: 0px;
      height: 130px;
      margin-top: 10px;
    }
    .signup-section .button {
      /* Use margin to center the button horizontally */
      margin: 0 0px;
      position: relative;
      left: 1%;
      bottom: 10px;
    }

    .middle{
      background-color: rgb(0, 0, 0);
      height: 100px;
     
       overflow: hidden;
       z-index: 2;
    }

    #black-strip-section{

      height: 150px;
      background-color: black;
      padding-top: 10px;
    }

    .course-section{
      margin-top: 50px;
   
      padding-top: 70px;
      padding-bottom: 100px;
    }

    .content {
      top: 40vh;
      max-height: 800px;
     
    }

    footer {
      background-color: #003680;
      color: white;
      position: relative;
      bottom: 10px;
      border-top: 1px solid lightgray;
      width: 105%;
      padding: 10px 0px;
    }
    footer a {
      color: rgb(199, 214, 66);
      font-size: 12px;
    }
    footer p {
     font-size: 12px;
    }

 
}



.category-list {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}



@media (max-width: 376px) {
  .navbar  .dropdown-menu {
    width: 79%;
    margin-right: 0px;
    margin-left: 2%;
  }
    /* ----nav bar ---------*/
    .navbar .navbar-brand{
      left: 0%;
      }
      .navbar-dark .navbar-toggler {
        position: relative;
        right: 5%;
      } 
    .form-inline input[type="search"] {
    
    }
    .form-inline button{
      width: 20%;
      height: 40px;
      font-size: 12px;
   
    }
  .hero p {
    text-align: center; 
    width: 80%;
    font-size: 12px;
    margin-bottom: 180px;
  }
  .inner-container h1{

  
    font-size: 20px;

    margin-top: 40px;
    }

    .inner-container .light-font{
      font-size: 20px;
    }
    .inner-container p{
    padding:20px 10px;

    font-size: 15px;
 
    
    }

    .signup-section {
      padding: 12px;
      height: 100px;
      margin-top: 40px;
    }

    #black-strip-section{

      height: 200px;
      background-color: black;
      padding-top: 0px;
    }
    #black-strip-section h3{
      color: white;
      font-weight: 600;
      font-size: 30px;
      
    }

    .home-section-two{

  
      height:60vh;
      position: relative;
      bottom: 0px;
      padding: 20px 0px;
  
      }

      .signup-section .sign-header {

        font-size: 15px;
     
        top: 0px;
        
      }
      
      .signup-section .description {
        color: #fff;
        font-size: 12px;
        margin-top: 00px;
      }
    
      
      .signup-section .button {
        /* Use margin to center the button horizontally */
        margin: 0 0px;
        position: relative;
        left: 1%;
      }

      .signup-section .button {
        /* Use margin to center the button horizontally */
        font-size: 12px;
        margin: 0 0px;
        position: relative;
        bottom: 10px;
        left: 1%;
      }

      .middle{
        background-color: rgb(0, 0, 0);
        height: 100px;
       
         overflow: hidden;
         z-index: 2;
      }
      .middle img{
        width: 110%;
        position: relative;
        bottom: 150px;
        z-index: 2;
      }
      #black-strip-section{

        height: 150px;
        background-color: black;
        padding-top: 10px;
      }

      .course-section{
        margin-top: 50px;
        
        padding-top: 70px;
        padding-bottom: 100px;
      }

      footer {
        background-color: #003680;
        color: white;
        position: relative;
        right: 10px;
        bottom: 10px;
        border-top: 1px solid lightgray;
        width: 105%;
        padding: 10px 0px;
      }
      footer a {
        color: rgb(199, 214, 66);
        font-size: 12px;
      }
      footer p {
       font-size: 12px;
      }

      /*--------------------course page --------------------*/
      .hero-section {
        position: relative;
        height: 400px;
        width: 110%;
    
      }
      
      .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        
   
        background-position: center;
        z-index: 2; /* Send the image to the back */
      }
      .category-list {
        flex-direction: column !important; /* Display items horizontally */
        justify-content: space-between; /* Adjust spacing between items */
      }
      .categories-section{
        margin-top: 50px;
      }

      
  
}   
