

<!DOCTYPE html>
<html>

  <title>Login</title>
  <%- include('../partials/header') %>
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


</style>
</head>
  <body>
    <section class="auth-section">
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="/images/library.jpg" /></div>
          <div class="formBx">
            <form action="/users/forgotpassword" method="POST" id="login-form">
              <h2 >S<span style="text-transform: lowercase;">o you forgot your password</span></h2>
              <input type="text" id="email" name="email" placeholder="email" />
           
              <input type="submit" name="" value="Send" />
              <p class="signup">
                Now you remember<a href="/users/login">
                  Login
                </a>
              </p>
              
              <div id="error"></div>
              <div id="error"><%=responseMessage%></div>
            </form>
          </div>
        </div>
        <div class="user signupBx">
          <div class="formBx">
            <form>
              <h2>Create an Account</h2>
              <input type="text" name="" placeholder="name" />
              <input type="text" name="" placeholder="surname" />
              <input type="email" name="" placeholder="Email" />
              <input type="password" name="" placeholder="Create Password" />
              <input type="password" name="" placeholder="Confirm Password" />
              <input type="submit" name="" value="Sign Up" />
              <p class="signup">
                Already have an account ?
                <a href="#" onclick="toggleForm();"> Sign In </a>
              </p>
            </form>
          </div>
          <div class="imgBx"><img src="https://images.unsplash.com/photo-1628972799193-1a6be77e183e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" /></div>
        </div>
      </div>
    </section>
 
  </body>

  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <% errors.forEach(function (error) { %>
      <p style="color: red;"><%= error.msg %></p>
    <% }) %>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
          function toggleForm() {
        var container = document.querySelector(".container");
        container.classList.toggle("active");
      }
    $(document).ready(function() {
      $('#login-form').submit(function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Clear previous error messages
        $('#error').empty();

        // Get form values
        var email = $('#email').val();
 

        // Perform validation
        var isValid = true;
        
        if (email.trim() === '') {
          $('#error').append('<p>Please enter your email.</p>');
          isValid = false;
        }
        
      

        if (isValid) {
          // Submit the form if valid
          $('#login-form').unbind('submit').submit();
        }
      });
    });
  </script>
  <%- include('../partials/footer') %>
</body>
</html>
