

<!DOCTYPE html>
<html>

  <title>Login</title>
  <%- include('../partials/header') %>
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


</style>
</head>
  <body>
    <section class="auth-section">
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="/images/library.jpg" /></div>
          <div class="formBx">
            <form id="resetPasswordForm">
              <h2 >Change your password</h2>
            
              <input type="password" name="password" placeholder="New Password">
              <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password">
              <input type="submit" name="" value="Send" />
            
              <div id="error"></div>
         
            </form>
          </div>
        </div>

      </div>
    </section>
 
  </body>

<!-- <body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Password Reset</h5>
            <form id="resetPasswordForm">
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="New Password" required>
              </div>
              <div class="form-group">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" required>
              </div>
             
              <button type="submit" class="btn btn-primary btn-block">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Script to handle form submission -->
  <script>
    $(document).ready(function() {
      $('#resetPasswordForm').submit(function(event) {
        event.preventDefault();

        // Get form data and perform validation as before
        // Get form data
        const formData = $(this).serialize();

        // Check if passwords match and are not empty
        const password = $(this).find('input[name="password"]').val();
        const confirmPassword = $(this).find('input[name="confirmPassword"]').val();

        if (password !== confirmPassword) {
          $('#error').append('<p>Passwords do not match.</p>');
          return;
        }

        if (!password || !confirmPassword) {
          $('#error').append('<p>Password fields cannot be empty</p>');
          return;
        }
        // Extract the token from the URL
      const url = window.location.href;
      const token = url.split('/').pop();
        // Submit the form data to the backend using AJAX
        $.ajax({
          type: 'POST',
          url: `/users/resetpassword/${token}`,
          data: formData,
          success: function(response) {
            // Handle the success response
           
            window.location.href = '/users'; // Redirect to login page or any other page as needed
          },
          error: function(response) {
            // Handle the error response
            console.log(response.responseJSON.error);
            if(response.responseJSON.error){
              $('#error').append(`<p>${response.responseJSON.error}</p>`);
            }else{
              $('#error').append('<p>Failed to change password. Please try again.</p>');
            }
       
          
           
          }
        });
      });
    });
  </script>

  <!-- Add Bootstrap JS (optional) -->
  <%- include('../partials/footer') %>
</body>
</html>
