<!DOCTYPE html>
<html>
<head>
  <title>courses</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
</head>
<script src="/js/jquery-1.12.4.min.js"></script>
<style>
  .course-details {
    display: none;
  }
</style>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Password Reset</h5>
            <form id="resetPasswordForm">
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="New Password" required>
              </div>
              <div class="form-group">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" required>
              </div>
             
              <button type="submit" class="btn btn-primary btn-block">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Script to handle form submission -->
  <script>
    $(document).ready(function() {
      $('#resetPasswordForm').submit(function(event) {
        event.preventDefault();

        // Get form data and perform validation as before
        // Get form data
        const formData = $(this).serialize();

        // Check if passwords match and are not empty
        const password = $(this).find('input[name="password"]').val();
        const confirmPassword = $(this).find('input[name="confirmPassword"]').val();

        if (password !== confirmPassword) {
          alert('Passwords do not match.');
          return;
        }

        if (!password || !confirmPassword) {
          alert('Password fields cannot be empty.');
          return;
        }
        // Extract the token from the URL
      const url = window.location.href;
      const token = url.split('/').pop();
        // Submit the form data to the backend using AJAX
        $.ajax({
          type: 'POST',
          url: `/users/resetpassword/${token}`,
          data: formData,
          success: function(response) {
            // Handle the success response
            alert('Password changed successfully.');
            window.location.href = '/login'; // Redirect to login page or any other page as needed
          },
          error: function(xhr, status, error) {
            // Handle the error response
            alert('Failed to change password. Please try again.');
          }
        });
      });
    });
  </script>

  <!-- Add Bootstrap JS (optional) -->
  <%- include('../partials/footer') %>
</body>
</html>
